body {
    font-family: 'Roboto', sans-serif;
    color: #A2A2A2!important;
}

a {
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: #ff6a6a;
}

@font-face {
    font-family: 'alba';
    src: url('../fonts/logo/ALBA.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alba Matter';
    src: url('../fonts/logo/ALBAM.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alba Super';
    src: url('../fonts/logo/ALBAS.TTF');
    font-weight: normal;
    font-style: normal;
}

.padding-bottom-medium {
    padding-bottom: 30px !important;
}

.padding-top-large {
    padding-top: 50px !important;
}

.padding-bottom-large {
    padding-bottom: 50px !important;
}

.padding-top-Xlarge {
    padding-top: 100px !important;
}

.padding-bottom-Xlarge {
    padding-bottom: 100px !important;
}

.margin-top-large {
    margin-top: 50px !important;
}

.margin-bottom-large {
    margin-bottom: 50px !important;
}

.margin-top-Xlarge {
    margin-top: 100px !important;
}

.margin-top-XXlarge {
    margin-top: 130px !important;
}

.margin-bottom-Xlarge {
    margin-bottom: 100px !important;
}

.margin-bottom-XXlarge {
    margin-bottom: 170px !important;
}

.margin-bottom-medium {
    margin-bottom: 70px !important;
}

.margin-top-medium {
    margin-top: 72px !important;
}


/*colors*/

.clr-white {
    color: #ffffff;
}

.clr-red {
    color: #ff6a6a;
}

.clr-blue {
    color: #51a2fc;
}

.clr-grey {
    color: #A2A2A2;
}

h1 {
    font-size: 28px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    font-weight: 300;
}

h3 {
    font-size: 17px;
    font-weight: 700;
}

h4 {
    font-size: 13px;
    font-weight: 400;
}

.font-italic {
    font-style: italic;
}

.txt-desc {
    font-size: 14px;
    font-weight: 400;
}

.txt-title {
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 2px;
    display: inline-block;
    line-height: 0.9;
}

.txt-title:after {
    content: "";
    background-image: url(../img/svg/line-title.svg);
    background-repeat: no-repeat;
    width: 67px;
    height: 5px;
}


/*banner*/

.bg-slide-home {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.list-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.list-menu a {
    color: #A2A2A2;
    font-size: 14px;
}

.banner {
    padding-top: 25px;
}

.title-home {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.title-home span {
    font-weight: 400;
}

.block-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}

.block-home {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.contact-info p {
    margin-bottom: 0;
}

.contact-info a,
.block-info a {
    font-weight: 600;
    color: #A2A2A2;
}

.contact-info span {
    color: #A2A2A2!important;
    font-weight: 300;
}

.contact-info .number-tel a {
    color: #ff6a6a;
}

.list-menu a:hover,
.block-info a:hover {
    color: #ff6a6a;
}

@media (max-width: 767px) {
    .bg-slide-home {
        background-size: cover;
    }
    .btn-xs {
        position: fixed;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 19px;
        top: 25px;
        left: 20px;
        background-image: url(../img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        transition: all.7s;
        z-index: 9999;
    }
    .menu-xs {
        background-color: #000;
        position: fixed !important;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
        -webkit-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        z-index: 999;
    }
    .slideRight {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .menu-blanc {
        background-image: url(../img/menu-blanc.png);
    }
}


/*block nos-technologies*/

.bg-technologies {
    background-image: url(../img/01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

.bg-technologies .txt-title {
    margin-left: 220px;
    text-align: right;
}

.bg-technologies .txt-title:after {
    display: block;
    margin-left: 15px;
    height: 2px;
    width: 67PX;
}

.sub-technologie {
    width: 75%;
    text-align: right;
}

ul.img-technologies {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.img-technologies li {
    margin: 8px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    width: 31%;
}

@media (max-width: 767px) {
    ul.img-technologies {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .img-technologies li {
        width: auto;
    }
    .bg-technologies .txt-title {
        text-align: center;
    }
}


/*block what we do */

.activite-desc {
    display: flex;
    justify-content: space-between;
}

.block-activite {
    width: 30%;
    position: relative;
    color: #000;
}

.block-activite h3 {
    margin: 15px 0;
    text-transform: uppercase;
}

.block-we-do {
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 40px;
}

.block-we-do span {
    margin-left: 25px;
}

.block-we-do .txt-title:after {
    background-image: url(../img/svg/2.svg);
    display: block;
    position: static;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .block-we-do {
        margin-bottom: 50px !important;
        box-shadow: none;
        text-align: center;
    }
    .block-activite {
        width: 100%;
        position: relative;
        text-align: center;
    }
    .activite-desc {
        justify-content: center;
        flex-direction: column;
    }
}


/*block nos-clients*/

.bg-clients {
    background-image: url(../img/02.jpg);
    background-repeat: no-repeat;
    padding: 70px 0;
    background-size: cover;
}

.bg-clients .txt-title:after,
.contact .txt-title:after {
    background-image: url(../img/svg/3.svg);
    display: block;
    position: static;
    margin-top: 5px;
    margin: 5px auto;
    height: 5px;
    width: 67px;
}

.bg-clients img {
    width: 148px;
}

.img-clients {
    display: flex;
    justify-content: space-between;
}

.bg-clients .txt-title {
    margin-top: 65px;
}

.bg-clients .txt-title:after {
    top: 65px;
}
@media (max-width: 767px) {
    .img-clients {
        flex-direction: column;
        align-items: center;
    }
}

/*block-touch*/

.nos-cordonnees {
    display: flex;
    margin-top: 60px;
}

.nos-cordonnees img {
    margin-bottom: 25px;
}

ul.nos-cordonnees {
    list-style: none;
    justify-content: space-around;
}

.nos-cordonnees li a {
    color: #A2A2A2;
}

.adresse a {
    color: #51a2fc!important;
}

.nos-cordonnees li a:hover {
    color: #ff6a6a!important;
    text-decoration: none;
}

.contact .txt-title:after {
    top: 65px;
}

@media (max-width: 767px) {
    ul.nos-cordonnees {
        flex-direction: column;
        align-items: center;
    }

}